RewriteEngine On
RewriteBase /newstat/

#RewriteCond %{REQUEST_URI} !^/index.php
#RewriteRule ^(.*?)/$ index.php?page=$1

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUES_FILENAME} !-f
RewriteCond %{REQUES_FILENAME} !-d
RewriteRule ^(.*) /newstat/index.php?route=$1 [L]
